<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./buefy.min.css">
    <title>Portal Nauta</title>
  
</head>
<body>     
   <div id="app">
       <div class="box">
            <b-field
                label="name"></b-field>
                 <b-input
                     type="email"
                     placeholder="User"
                     v-model="Component.username">
                 </b-input>
            </b-field>
            <b-field
                 label="password"></b-field>
                 <b-input
                     type="password"
                     placeholder="Password"
                     v-model="Component.password">
                 </b-input>
            </b-field>
            <button type="is-primary"
                 @click="Send()">
                 Send
            </button>
        </div>
     </div>
     <script src="axios.min.js"></script>
     <script src="vue.min.js"></script>
     <script src="buefy.min.js"></script>
     <script>
         new Vue({
            el: '#app',
            data(){
                return{ 
                    ComponentRedirectAction:"",
                    ComponentAction:"",                   
                    ComponentRedirect:
                    {
                        wlanuserip:"",
                        wlanacname:"",
                        ssid:"",
                        portalurl:"",
                        wlanparameter:""
                    },
                    Component:
                    {
                    wlanuserip:"",
                    wlanacname:"",
                    wlanmac:"",
                    firsturl:"",
                    ssid:"",
                    usertype:"",
                    gotopage:"", 
                    successpage:"",
                    loggerId:"",
                    lang:"" ,
                    username:"",
                    password:"",
                    CSRFHW:"",
                    },  
               }
           },
           methods:{
                Send: function ()
                {
                     axios
                     .post('http://www.msftconnecttest.com/redirect') 
                        .then(response => {
                            if(this.GetInfo(response.request.responseText,0))
                            {
                                axios
                                .post(this.ComponentRedirectAction,this.ComponentRedirect)
                                    .then(response=>
                                    {
                                        this.Component.username="esptel.dvpe@nauta.com.cu";
                                        this.Component.password="My_Password";
                                        if(this.GetInfo(response.request.responseText,1))
                                        {
                                            console.log(this.ComponentAction);
                                            console.log(this.Component);
                                            axios
                                            .post(this.ComponentAction,this.Component)
                                                .then(response=>
                                                {
                                                    console.log(response.request.responseText);
                                                })
                                                .catch(err=>
                                                {
                                                 console.log("Error 3:"+err);
                                                })       
                                        } 
                                        else
                                            console.log("Error 2:Formato de archivo no valido o pagina incorrecta"); 
                                    }) 
                                    .catch(err=>{
                                        console.log("Error 2:"+err);
                                    });   
                            }
                            else
                                console.log("Error 1:Formato de archivo no valido o pagina incorrecta"); 
                        })
                        .catch(err=>
                        {
                            console.log("Error 1:"+err)
                        });
                },
                GetinfoSub:function(textExp,SubText,comillasimples=false)
                {    
                    var text=textExp;
                    var num=text.indexOf(SubText);
                    if(num==-1)
                        return false;
                    num+=String(SubText).length;
                    text=text.substr(num);
                    var newtext=text;
                    if(comillasimples===true)
                        num=newtext.indexOf("\'",1);
                    else
                        num=newtext.indexOf("\"",1);

                    newtext=newtext.substr(0,num);
                    text=text.substr(num);
                    if(comillasimples===true)
                        newtext=newtext.replaceAll("\'","");
                    else
                        newtext=newtext.replaceAll("\"","");    

                    return newtext;

                },
                GetInfo:function(text,opcion)
                {
                    var resp;
                    switch (opcion) 
                    {
                        case 0:
                            resp=this.GetinfoSub(text,"<form name=\"CMCCWLANFORM\" method=\"post\" action=")
                            if(resp===false)
                               return resp;
                            this.ComponentRedirectAction=resp;

                            resp=this.GetinfoSub(text,"<input type=\"hidden\" name=\"wlanuserip\" value=")
                            if(resp===false)
                               return resp;
                            this.ComponentRedirect.wlanuserip=resp;

                            resp=this.GetinfoSub(text,"<input type=\"hidden\" name=\"wlanacname\" value=")
                            if(resp===false)
                               return resp;
                            this.ComponentRedirect.wlanacname=resp;

                            resp=this.GetinfoSub(text,"<input type=\"hidden\" name=\"ssid\" value=")
                            if(resp===false)
                               return resp;
                            this.ComponentRedirect.ssid=resp;

                            resp=this.GetinfoSub(text,"<input type=\"hidden\" name=\"portalurl\" value=")
                            if(resp===false)
                               return resp;
                            this.ComponentRedirect.portalurl=resp;

                            resp=this.GetinfoSub(text,"<input type=\"hidden\" name=\"wlanparameter\" value=")
                            if(resp===false)
                               return resp;
                            this.ComponentRedirect.wlanparameter=resp;

                            return true;
                            break;          
                        case 1:
                            resp=this.GetinfoSub(text,"<form class=\"form\" action=")
                            if(resp===false)
                                return resp;
                            this.ComponentAction=resp;
                            resp=this.GetinfoSub(text,"<input type=\"hidden\" name=\"wlanuserip\" id=\"wlanuserip\" value=")
                            if(resp===false)
                               return resp;
                            this.Component.wlanuserip=resp;

                            resp=this.GetinfoSub(text,"<input type=\"hidden\" name=\"wlanacname\" id=\"wlanacname\" value=")
                            if(resp===false)
                               return resp;
                            this.Component.wlanacname=resp;

                            resp=this.GetinfoSub(text,"<input type=\"hidden\" name=\"wlanmac\" id=\"wlanmac\" value=")
                            if(resp===false)
                               return resp;
                            this.Component.wlanmac=resp;

                            resp=this.GetinfoSub(text,"<input type=\"hidden\" name=\"firsturl\" id=\"firsturl\" value=")
                            if(resp===false)
                               return resp;
                            this.Component.firsturl=resp; 

                            resp=this.GetinfoSub(text,"<input type=\"hidden\" name=\"ssid\" id=\"ssid\" value=")
                            if(resp===false)
                               return resp;
                            this.Component.ssid=resp; 

                            resp=this.GetinfoSub(text,"<input type=\"hidden\" name=\"usertype\" id=\"usertype\" value=")
                            if(resp===false)
                               return resp;
                            this.Component.usertype=resp; 
                            
                            resp=this.GetinfoSub(text,"<input type=\"hidden\" name=\"gotopage\" id=\"gotopage\" value=")
                            if(resp===false)
                               return resp;
                            this.Component.gotopage=resp; 

                            resp=this.GetinfoSub(text,"<input type=\"hidden\" name=\"successpage\" id=\"successpage\" value=")
                            if(resp===false)
                               return resp;
                            this.Component.successpage=resp; 

                            resp=this.GetinfoSub(text,"<input type=\"hidden\" name=\"loggerId\" id=\"loggerId\" value=")
                            if(resp===false)
                               return resp;
                            this.Component.loggerId=resp; 

                            resp=this.GetinfoSub(text,"<input type=\"hidden\" name=\"lang\" id=\"lang\" value=")
                            if(resp===false)
                               return resp;
                            this.Component.lang=resp; 

                            resp=this.GetinfoSub(text,"<input type='hidden' name='CSRFHW' value=",true)
                            if(resp===false)
                               return resp;
                            this.Component.CSRFHW=resp; 

                            return true;
                            break;
                    }
                    return false;
                }

            }
       })
   </script>
</body>
</html>